/AreaOfCircle/build/
/CheckEvenOdd/build/
/CheckEvenOdd/nbproject/private/
/ReverseNumber/build/
/ReverseNumber/nbproject/private/
/EvenOddTest/build/
/EvenOddTest/nbproject/private/
/PrimeCheck/build/
/PrimeCheck/nbproject/private/